*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.post-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(20, 40, 41);
  padding: 1rem;
}

.post-container-projects {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #3E5054 0%, #142829 100%);
  padding: 1rem;
}

.post-container-experience,
.post-container-intro {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #325313 0%, #1c4434 100%);
  padding: 1rem;
}


.project-post {
  width: 100%;
  max-width: 98rem;
  padding: 1.5rem ;
  margin: 2rem 2rem;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.5);
  display: flex;
  align-items: center;
  border-radius: 1rem;
  /*max-height: 85rem;*/
}


.post-media img{
  width: 100%;
  height: 100%;
  object-fit: fill;
  display: block;
  border-radius: 10px;

}

.post-media {
  min-width: 35rem;
  max-width: 35rem;
  height: 30rem;
  transform: translateX(-3rem);
  position: relative;
}

.post-media::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 6px 10px rgba(56, 125, 255, 0.5);
  border-radius: 10px;
}

.post-media-projects img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  display: block;
  border-radius: 10px;

}

.post-media-experience img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  display: block;
  border-radius: 10px;

}

.post-media-intro img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;

}

.post-media-projects,
.post-media-experience,
.post-media-intro {
  min-width: 35rem;
  max-width: 35rem;
  height: 30rem;
  transform: translateX(-3rem);
  position: relative;
}

.post-media-projects::before,
.post-media-experience::before,
.post-media-intro::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 6px 10px rgba(56, 125, 255, 0.5);
  border-radius: 10px;
}

.post-context {
  size: 100%;
  padding: 1rem 0;
  margin-top: 0;
  
}


.post-title {
  margin: 0.5rem 0;
}

.post-info p {
  padding: 0.2rem 0.5rem;
  color: rgb(75, 76, 126);
}

.post-info span {
  padding: 0.2rem 0.5rem;
  color: rgb(75, 76, 126);
}

.post-info a {
  padding: 0.2rem 0.5rem;
  color: rgb(75, 76, 126);
}

.post-read-more {
  display: inline-block;
  padding: .7rem;
  margin: 0.5rem 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  background-image: linear-gradient(to right, #1b1b1b 0%, #7a8191 100%);
  border-radius: 0.8rem;
  text-decoration: none;
}

.post-read-more:hover {
  background-image: linear-gradient(to right, #7a8191 0%, #1b1b1b 100%);
}


@media screen and (max-width: 1068px) {
  .project-post{
    max-width: 80rem;
  }
  
  .post-media {
    min-width: 30rem;
    max-width: 30rem;
  }

  .post-media-projects,
  .post-media-experience,
  .post-media-intro {
    min-width: 30rem;
    max-width: 30rem;
  }
}

@media screen and (max-width: 868px) {
  .project-post{
    max-width: 70rem;
    flex-direction: column;
  }

  .post-media {
    min-width: 100%;
    max-width: 100%;
    transform: translate(0, -4rem);
  }

  .post-context {
    transform: translate(0, -4rem);
  }

  .post-media-projects,
  .post-media-experience,
  .post-media-intro {
    min-width: 100%;
    max-width: 100%;
    transform: translate(0, -4rem);
  }
}

@media screen and (max-width: 768px) {
  .project-post{
    margin: 0.5rem;
    padding: 1.5rem;
    flex-direction: column;
  }
  
  .post-media {
    min-width: 100%;
    max-width: 100%;
    transform: translate(0, -4rem);
  }

  .post-context {
    transform: translate(0, -4rem);
  }


  .post-media-projects,
  .post-media-experience,
  .post-media-intro {
    min-width: 100%;
    max-width: 100%;
    transform: translate(0, -4rem);
  }
}